In [ ]:
# GitHub Repository Cloning
from git.repo.base import Repo
repo_url = r"https://github.com/PhonePe/pulse.git"
local_path = r"C:\Users\Balaji\phonepe_project"
Repo.clone_from(repo_url,local_path)

In [2]:
import os
import pandas as pd
dir(os)

['DirEntry',
 'EX_OK',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_blocking',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'listdrives',
 'listmounts',
 'listvolumes',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_blocking',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [75]:
# Aggeregated Transaction Data
import os
import pandas as pd
import json

def get_Agg_Tran(): 
    ar_t_p = "C:/Users/Balaji/phonepe_project/data/aggregated/transaction/country/india/state/"
    ag_li_1 = os.listdir(ar_t_p)
    dict_1 = {'State':[], 'Year':[], 'Quater':[], 'Transaction_Type':[], 'Transacion_Count':[], 'Transaction_Amount':[]}

    for state in ag_li_1:#-->State
        c_s = ar_t_p + state + "/"
        ag_y = os.listdir(c_s)

        for year in ag_y:#-->Year
            c_y = c_s + year + "/"
            li1 = os.listdir(c_y)
            
            for quarter in li1:#-->Quater
                f = c_y + quarter
                with open(f, "r") as d:#-->Reading Quater Files in read mode
                    dict1_conv = json.load(d)#-->Dictionary Conversion
                    
                for j in dict1_conv['data']['transactionData']:#-->Transaction Data
                    name = j['name']
                    count = j['paymentInstruments'][0]['count']
                    amount = j['paymentInstruments'][0]['amount']
                    dict_1['Transaction_Type'].append(name)
                    dict_1['Transacion_Count'].append(count)
                    dict_1['Transaction_Amount'].append(amount)
                    dict_1['State'].append(state)
                    dict_1['Year'].append(year)
                    dict_1['Quater'].append(int(quarter.strip('.json')))#-->From the Quarter file removing the .json and converting it to integer
    return dict_1

Ag_T_df = pd.DataFrame(get_Agg_Tran())

In [76]:
#Aggregated User Data:

def get_Agg_User():
    ar_u_p = "C:\\Users\\Balaji\\phonepe_project\\data\\aggregated\\user\\country\\india\\state\\"
    ag_li_2 = os.listdir(ar_u_p)
    dict_2 = {'State':[],'Year':[],'Quarter':[],'Brand':[],'Count':[],'Percentage':[]}
    
    for state in ag_li_2:  # --> State
        st = ar_u_p + state + "\\"
        ag_u_y_1 = os.listdir(st)
        
        for year in ag_u_y_1:  # --> Year
            c_u_y = st + year + "\\"
            li2 = os.listdir(c_u_y)
            
            for Quarter in li2:  # --> Quarter
                f2 = c_u_y + Quarter
                
                try:  # --> Adding the Exception Handling Part
                    with open(f2, "r") as d_1:  # --> Reading the Quarter Files in read mode
                        dict2_conv = json.load(d_1)  # --> Dictionary Conversion
                        
                        for i in dict2_conv["data"]["usersByDevice"]:
                            B_name = i['brand']
                            Count = i["count"]
                            Percentage = i["percentage"]
                            dict_2['Brand'].append(B_name)
                            dict_2['Count'].append(Count)
                            dict_2['Percentage'].append(Percentage)
                            dict_2['State'].append(state)
                            dict_2['Year'].append(year)
                            dict_2['Quarter'].append(int(Quarter.strip('.json')))
                
                except:
                    pass  # --> Bypassing the empty Quarter files or unstructured data which doesn't come under try block
            # TypeError: 'NoneType' object is not iterable
    
    return dict_2
Ag_U_df = pd.DataFrame(get_Agg_User())

In [77]:
# Map Transactions
def get_Map_Tran():
    mp_tr_p = "C:\\Users\\Balaji\\phonepe_project\\data\\map\\transaction\\hover\\country\\india\\state\\"
    mp_li_1 = os.listdir(mp_tr_p)
    map_dict1 = {'State':[],'Year':[],'Quarter':[],'District_Name':[],'Transaction_Count':[],'Transaction_Amount':[]}
    
    for state in mp_li_1:#-->State
        c_m_s = mp_tr_p+state+"\\"
        m_y = os.listdir(c_m_s)
        
        for year in m_y:#-->Year
            c_m_y = c_m_s+year+"\\"
            li3 = os.listdir(c_m_y)
            
            for Quarter in li3:#-->Quarter
                mp_1 = c_m_y+Quarter
                
                try:
                    with open(mp_1,"r") as d2:#-->Reading the Quarter Files in read mode
                        map_dict1_conv = json.load(d2)
                        
                        for i in map_dict1_conv["data"]["hoverDataList"]:
                            D_Name = i["name"]
                            Cnt = i["metric"][0]["count"]
                            amt = i["metric"][0]["amount"]
                            map_dict1['District_Name'].append(D_Name)
                            map_dict1['Transaction_Count'].append(Cnt)
                            map_dict1['Transaction_Amount'].append(amt)
                            map_dict1['State'].append(state)
                            map_dict1['Year'].append(year)
                            map_dict1['Quarter'].append(int(Quarter.strip('.json')))
                except:
                    pass #Bypassing the empty Quatar files or the unstructured data which doesn't comes under try block 

    return map_dict1
mp_T_df = pd.DataFrame(get_Map_Tran())

In [78]:
# Map User:
def get_Map_User():
    mp_u_p = "C:\\Users\\Balaji\\phonepe_project\\data\\map\\user\\hover\\country\\india\\state\\"
    mp_li_2 = os.listdir(mp_u_p)
    mp_dict2 = {'State':[],'Year':[],'Quarter':[],'District_Name':[],'Registered_Users':[],'App_Opens':[]}
    
    for state in mp_li_2:#-->State
        c_m_s = mp_u_p+state+"\\"
        m_y = os.listdir(c_m_s)
        
        for year in m_y:#-->Year
            c_m_y = c_m_s+year+"\\"
            li3 = os.listdir(c_m_y)
            
            for Quarter in li3:#-->Quarter
                mp_1 = c_m_y+Quarter
                
                try:
                    with open(mp_1,"r") as d3:#-->opening the file in read mode
                        map_dict1_conv = json.load(d3) #--> Conversion to Dictonary
                        # Example:
                        # dict1 = {'A': {'B': {'C': {'D': 100, 'E': 50}}}}
                        # for i, j in dict1.items():
                        #     print(i)#-->A
                        #     print(j['B'])#-->{'B': {'C': {'D': 100, 'E': 50}}
                        #     print(j['B']['C'])#-->{'D': 100, 'E': 50}
                        #     print(j['B']['C']['E'])#-->50
                        #     print({i:j})#-->{'A': {'B': {'C': {'D': 100, 'E': 50}}}}
                        for D_Name, i in map_dict1_conv['data']['hoverData'].items():#-->.items()-->Key Value Pair Iteration
                            Reg_U = i['registeredUsers']
                            App = i['appOpens']
                            mp_dict2['District_Name'].append(D_Name)
                            mp_dict2['Registered_Users'].append(Reg_U)
                            mp_dict2['App_Opens'].append(App)
                            mp_dict2['State'].append(state)
                            mp_dict2['Year'].append(year)
                            mp_dict2['Quarter'].append(int(Quarter.strip('.json')))
                except:
                    pass
                    
                                         
    return mp_dict2
mp_U_df = pd.DataFrame(get_Map_User())

In [79]:
# Top Transaction:
def get_Top_Tran():
    top_T_path1 = "C:\\Users\\Balaji\\phonepe_project\\data\\top\\transaction\\country\\india\\state\\"
    Tp_li_1 = os.listdir(top_T_path1)
    Tp_dict1 = {'State':[],'Year':[],'Quarter':[],'Pincode':[],'Transaction_Count':[],'Transaction_Amount':[]}
    for state in Tp_li_1:#-->State
            c_m_s = top_T_path1+state+"\\"
            T_y = os.listdir(c_m_s)
            
            for year in T_y:#-->Year
                c_m_y = c_m_s+year+"\\"
                li4 = os.listdir(c_m_y)
                
                for Quarter in li4:#-->Quarter
                    tp_1 = c_m_y+Quarter
                    try:
                        with open(tp_1,"r") as d4:
                            Tp_dict_conv = json.load(d4)
                            
                            for j in Tp_dict_conv['data']['pincodes']:
                                pin = j['entityName']
                                cnt = j['metric']['count']
                                amt = j['metric']['amount']
                                Tp_dict1['Pincode'].append(pin)
                                Tp_dict1['Transaction_Count'].append(cnt)
                                Tp_dict1['Transaction_Amount'].append(amt)
                                Tp_dict1['State'].append(state)
                                Tp_dict1['Year'].append(year)
                                Tp_dict1['Quarter'].append(int(Quarter.strip('.json')))
                    except:
                        pass
                          
    return Tp_dict1
Top_Tran_df = pd.DataFrame(get_Top_Tran())

In [80]:
#Top User:
def get_Top_User():
    Tp_U_Path = "C:\\Users\\Balaji\\phonepe_project\\data\\top\\user\\country\\india\\state\\"
    Tp_li_2 = os.listdir(Tp_U_Path)
    Tp_dict2 = {'State':[],'Year':[],'Quarter':[],'Pincode':[],'Registered_Users':[]}
    for state in Tp_li_2:#-->State
        c_m_s = Tp_U_Path+state+"\\"
        T_y = os.listdir(c_m_s)
        
        for year in T_y:#-->Year
            c_m_y = c_m_s+year+"\\"
            li4 = os.listdir(c_m_y)
            
            for Quarter in li4:#-->Quarter
                tp_1 = c_m_y+Quarter
                
                with open(tp_1,"r") as d5:
                    Tp_user_conv = json.load(d5)
                    for i in Tp_user_conv['data']['pincodes']:
                        pin = i['name']
                        Reg_U = i['registeredUsers']
                        Tp_dict2['Pincode'].append(pin)
                        Tp_dict2['Registered_Users'].append(Reg_U)
                        Tp_dict2['State'].append(state)
                        Tp_dict2['Year'].append(year)
                        Tp_dict2['Quarter'].append(int(Quarter.strip('.json')))
    return Tp_dict2
Top_U_df = pd.DataFrame(get_Top_User())

In [81]:
Ag_T_df

,State,Year,Quater,Transaction_Type,Transacion_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,west-bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,west-bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,west-bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,west-bengal,2023,4,Financial Services,480740,4.590073e+08
4313,west-bengal,2023,4,Others,524477,4.041567e+08

In [82]:
Ag_U_df

                          State  Year  Quarter    Brand    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [83]:
mp_T_df

,State,Year,Quarter,District_Name,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
17559,west-bengal,2023,4,nadia district,36242432,6.879568e+10
17560,west-bengal,2023,4,birbhum district,20708496,3.690499e+10
17561,west-bengal,2023,4,purba medinipur district,40572042,7.981990e+10
17562,west-bengal,2023,4,maldah district,34654950,6.416729e+10
17563,west-bengal,2023,4,darjiling district,16807885,2.793986e+10

In [84]:
mp_U_df

,State,Year,Quarter,District_Name,Registered_Users,App_Opens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
17563,west-bengal,2023,4,nadia district,1603527,67224546
17564,west-bengal,2023,4,birbhum district,1013025,52281841
17565,west-bengal,2023,4,purba medinipur district,1589203,69991821
17566,west-bengal,2023,4,maldah district,1134600,88292475
17567,west-bengal,2023,4,darjiling district,660231,39079247

In [85]:
Top_Tran_df

,State,Year,Quarter,Pincode,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8562,west-bengal,2023,4,721301,4133775,5.718222e+09
8563,west-bengal,2023,4,700001,3983241,8.039689e+09
8564,west-bengal,2023,4,732125,3950411,6.557345e+09
8565,west-bengal,2023,4,700039,3742452,5.608622e+09
8566,west-bengal,2023,4,700014,3652710,6.184795e+09

In [86]:
Top_U_df

                          State  Year  Quarter Pincode  Registered_Users
0     andaman-&-nicobar-islands  2018        1  744103              1608
1     andaman-&-nicobar-islands  2018        1  744101              1108
2     andaman-&-nicobar-islands  2018        1  744105              1075
3     andaman-&-nicobar-islands  2018        1  744102              1006
4     andaman-&-nicobar-islands  2018        1  744104               272
...                         ...   ...      ...     ...               ...
8563                west-bengal  2023        4  700015            126663
8564                west-bengal  2023        4  742304            123320
8565                west-bengal  2023        4  721101            123088
8566                west-bengal  2023        4  700150            119283
8567                west-bengal  2023        4  700091            118578

[8568 rows x 5 columns]

In [103]:
# Data Cleansing:
modification = {
    "andaman-&-nicobar-islands":"Andaman & Nicobar",
    "andhra-pradesh":"Andhra Pradesh",
    "arunachal-pradesh":"Arunachal Pradesh",
    "assam":"Assam",
    "bihar":"Bihar",
    "chandigarh":"Chandigarh",
    "chhattisgarh":"Chhattisgarh",
    "dadra-&-nagar-haveli-&-daman-&-diu":"Dadra and Nagar Haveli and Daman and Diu",
    "delhi":"Delhi",
    "goa":"Goa",
    "gujarat":"Gujarat",
    "haryana":"Haryana",
    "himachal-pradesh":"Himachal Pradesh",
    "jammu-&-kashmir":"Jammu & Kashmir",
    "jharkhand":"Jharkhand",
    "karnataka":"Karnataka",
    "kerala":"Kerala",
    "ladakh":"Ladakh",
    "lakshadweep":"Lakshadweep",
    "madhya-pradesh":"Madhya Pradesh",
    "maharashtra":"Maharashtra",
    "manipur":"Manipur",
    "meghalaya":"Meghalaya",
    "mizoram":"Mizoram",
    "nagaland":"Nagaland",
    "odisha":"Odisha",
    "puducherry":"Puducherry",
    "punjab":"Punjab",
    "rajasthan":"Rajasthan",
    "sikkim":"Sikkim",
    "tamil-nadu":"Tamil Nadu",
    "telangana":"Telangana",
    "tripura":"Tripura",
    "uttar-pradesh":"Uttar Pradesh",
    "uttarakhand":"Uttarakhand",
    "west-bengal":"West Bengal"
}
Ag_T_df["State"] = Ag_T_df["State"].map(modification)
Ag_U_df["State"] = Ag_U_df["State"].map(modification)
mp_T_df["State"] = mp_T_df["State"].map(modification)
mp_U_df["State"] = mp_U_df["State"].map(modification)
Top_Tran_df["State"] = Top_Tran_df["State"].map(modification)
Top_U_df["State"] = Top_U_df["State"].map(modification)

In [106]:
# Ag_T_df.isnull().any()
# Ag_U_df.isnull().any()
# mp_T_df.isnull().any()
# mp_U_df.isnull().any()
Top_Tran_df.isnull().any()
# Top_U_df.isnull().any()

State                 False
Year                  False
Quarter               False
Pincode               False
Transaction_Count     False
Transaction_Amount    False
dtype: bool

In [105]:
Top_Tran_df[Top_Tran_df.isnull().any(axis=1)] = Top_Tran_df[Top_Tran_df.isnull().any(axis=1)].fillna('194102')

In [ ]:
# Converting the DataFrames to Csv Files to check if there are any Data Related Issues
chunk_size = 1000
Ag_T_df.to_csv("Ag_T",index=False,chunksize=chunk_size)
Ag_U_df.to_csv("Ag_U",index=False,chunksize=chunk_size)
mp_T_df.to_csv("mp_T",index=False,chunksize=chunk_size)
mp_U_df.to_csv("mp_U",index=False,chunksize=chunk_size)
Top_Tran_df.to_csv("Top_Tran",index=False,chunksize=chunk_size)
Top_U_df.to_csv("Top_U",index=False,chunksize=chunk_size)

In [108]:
import mysql.connector as sql
db = sql.connect(host = "127.0.0.1",username = "root",password = "test",database = "Ph_Streamlit")
cur = db.cursor(buffered=True)

In [109]:
# Record Insertion
# Aggregated_Transaction:
try:
    cur.execute("create table IF NOT EXISTS AG_T (State varchar(100), Year int, Quarter int, Transaction_Type varchar(100), Transaction_Count int, Transaction_Amount double)")
    for i,j in Ag_T_df.iterrows():
        In_Rec_1 = "INSERT INTO AG_T VALUES (%s,%s,%s,%s,%s,%s)"
        cur.execute(In_Rec_1, tuple(j))
    db.commit()
except Exception as E:#-->Exception Class used to capture errors
    db.rollback()
    print(f"Error: {E} in Aggregated_Transaction_Table")

In [42]:
# Aggregated_User:
try:
    cur.execute("create table IF NOT EXISTS AG_U (State varchar(100), Year int, Quarter int, Brand varchar(100), Count int, Percentage double)")
    for a,b in Ag_U_df.iterrows():#-->Used to iterate the rows
        In_Rec_2 = "INSERT INTO AG_U VALUES (%s,%s,%s,%s,%s,%s)"
        cur.execute(In_Rec_2, tuple(b))
    db.commit()
except Exception as F:
    db.rollback()
    print(f"Error: {F} in Aggregated_User_Table")

In [44]:
# Map_Transaction:
try:
    cur.execute("create table IF NOT EXISTS Mp_T (State varchar(100), Year int, Quarter int, District_Name varchar(100), Transaction_Count int, Transaction_Amount double)")
    for c,d in mp_T_df.iterrows():
        In_Rec_3 = "INSERT INTO Mp_T VALUES (%s,%s,%s,%s,%s,%s)"
        cur.execute(In_Rec_3, tuple(d))
    db.commit()
except Exception as G:
    db.rollback()
    print(f"Error: {G} in Map_Transaction_Table")

In [46]:
# Map_Users:
try:
    cur.execute("create table IF NOT EXISTS Mp_U (State varchar(100), Year int, Quarter int, District_Name varchar(100), Registered_Users int, App_opens int)")
    for e,f in mp_U_df.iterrows():
        In_Rec_4 = "INSERT INTO Mp_U VALUES (%s,%s,%s,%s,%s,%s)"
        cur.execute(In_Rec_4, tuple(f))
    db.commit()
except Exception as H:
    db.rollback()
    print(f"Error: {H} in Map_User_Table")

In [49]:
#Top_Transaction:
try:
    cur.execute("create table IF NOT EXISTS Tp_T (State varchar(100), Year int, Quarter int, Pincode int, Transaction_Count int, Transaction_Amount double)")
    for g,h in Top_Tran_df.iterrows():
        In_Rec_5 = "INSERT INTO Tp_T VALUES (%s,%s,%s,%s,%s,%s)"
        cur.execute(In_Rec_5, tuple(h))
    db.commit()
except Exception as I:
    db.rollback()
    print(f"Error: {I} in Top_Transaction_Table")

In [52]:
#Top_User:
try:
    cur.execute("create table IF NOT EXISTS Tp_U (State varchar(100), Year int, Quarter int, Pincode int, Registered_Users int)")
    for k,l in Top_U_df.iterrows():
        In_Rec_6 = "INSERT INTO Tp_U VALUES (%s,%s,%s,%s,%s)"
        cur.execute(In_Rec_6, tuple(l))
    db.commit()
except Exception as J:
    db.rollback()
    print(f"Error: {J} in Top_User_Table")

In [10]:
import pandas as pd
import plotly.express as px

df = pd.read_csv("https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/active_cases_2020-07-17_0800.csv")

fig = px.choropleth(
    df,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='state',
    color='active cases',
    color_continuous_scale='Reds'
)

fig.update_geos(fitbounds="locations", visible=True)

fig.show()

In [12]:

df.to_excel("C:\\Users\\Balaji\\Music\\State1_India.xlsx")

In [6]:
Ag_T_df['state'] = Ag_T_df['state'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar'})

                                       state  active cases
0                  andaman-&-nicobar-islands            47
1                             Andhra Pradesh         18159
2                          Arunachal Pradesh           387
3                                      Assam          6818
4                                      Bihar          7549
5                                 Chandigarh           164
6                               Chhattisgarh          1260
7   Dadra and Nagar Haveli and Daman and Diu           179
8                                      Delhi         17407
9                                        Goa          1272
10                                   Gujarat         11289
11                                   Haryana          5495
12                          Himachal Pradesh           382
13                           Jammu & Kashmir          5488
14                                 Jharkhand          2069
15                                 Karnataka         30661
16                                    Kerala          5376
17                                    Ladakh           176
18                            Madhya Pradesh          5562
19                               Maharashtra        114947
20                                   Manipur           635
21                                 Meghalaya           309
22                                   Mizoram           112
23                                  Nagaland           525
24                                    Odisha          4436
25                                Puducherry           774
26                                    Punjab          2587
27                                 Rajasthan          6666
28                                    Sikkim           155
29                                Tamil Nadu         46717
30                                 Telangana         13327
31                                   Tripura           676
32                               Uttarakhand           937
33                             Uttar Pradesh         15720
34                               West Bengal         13679

In [9]:
df.to_excel("C:\\Users\\Balaji\\Music\\State_Data.xlsx")